In [1]:
# Important dependencies 
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
map_data_path = Path("Resources/map-data.csv")

# Read map_data and store into Pandas DataFrames
map_data = pd.read_csv(map_data_path)
map_data = map_data.where(pd.notnull(map_data), 0)

# Combine the data into a single dataset.  
map_data.head()

,Name,Teacher,Ethnicity,SpEd,LEP,ED,504,GT,Dyslexia,WI 21,SP 21,FA 21,WI 22,SP 22,FA 22,WI 23,SP 23
0,AA,Kinnaman,A,0,0,0,0.0,0,0,208.0,215.0,220.0,227.0,227.0,228.0,228,233.0
1,AB,Kinnaman,W,0,0,0,0.0,Y,0,228.0,236.0,230.0,239.0,244.0,233.0,235,246.0
2,AC,Kinnaman,A,0,ESL,F,0.0,0,0,203.0,207.0,222.0,223.0,221.0,222.0,219,226.0
3,AD,Kinnaman,H,0,ESL,F,0.0,0,0,212.0,211.0,208.0,223.0,228.0,222.0,223,227.0
4,AE,Kinnaman,H,0,0,0,0.0,Y,0,228.0,238.0,235.0,244.0,241.0,240.0,245,243.0

In [2]:
#